.App {
 
 content: '';
  background: url('./assets/sunset.jpg') no-repeat center center/cover;
  width: 100vh;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}
.search{
  text-align: center;
  padding: 1rem;
  color: blue;
}
.icon{
  color: blue;
}

.temprature{
  font-size: 30px;
}
p{
  color: #fff
}
.spee{
  font-size: 30px;
}
.side{
  margin-top: 80px;
  font-size: 70px;
}
